<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/compliments">Compliments</a></li>
    <li><a href="/vent">Vent</a></li>
    <li><a href="/advice">Tweets of advice</a></li>
  </ul>
</nav>