<div class="new-comment-card">

  <form action="#" method="POST">
    <textarea name="comment" id="" cols="10" rows="5" placeholder="Write to the chalkboard!"></textarea>
    <!-- took out a author value from the input below -->
    <input type="text" name="author" placeholder="Author">
    <input type="submit">
  </form>

</div>

