<form action="#" method="POST">

  <textarea name="comment" id="" cols="30" rows="10">Tell us what you have to say!</textarea>

  <input type="text" name="author"  value="Author">

  <input type="submit">

</form>