<nav class="navbar">
  <h1 class="navbar-logo">Chalkboard</h1>
  <a href="/">Home</a>
  <a href="/compliments">Compliments</a>
  <a href="/vent">Vent</a>
  <a class="active" href="/advice">Tweets of advice</a>
</nav>


<div class="container">

  <h1 class="board-heading blackboard">Tweets of Advice</h1>
  
  {{>instructions}}

  <div class="blackboard-grid">
    
    {{#each advice}}
    <div class="comment-card">
      <h3><a href="/advice/edit/{{id}}">{{comment}}</a></h3>
      <p>{{author}}</p>
      <a href="/advice/{{id}}/delete"> dust!</a>
    </div>
    {{/each}}
   
  </div>
  
</div>


<div class="new-comment-card">

  <form action="/advice" method="POST">
    <textarea name="comment" id="" cols="10" rows="5" placeholder="Write to the chalkboard!"></textarea>
    <!-- took out a author value from the input below -->
    <input type="text" name="author" placeholder="Author">
    <input type="submit">
  </form>

</div>

{{>footer}}