<nav class="navbar">
  <h1 class="navbar-logo">Blackboard</h1>
  <a href="/">Home</a>
  <a class="active" href="/compliments">Compliments</a>
  <a href="/vent">Vent</a>
  <a href="/advice">Tweets of advice</a>
</nav>

<h1>compliments</h1>

<div class="comments">
  <p>some comments</p>
  <p>some comments</p>
  <p>some comments</p>
  <p>some comments</p>
</div>

{{>newComment}}

{{>footer}}