<nav class="navbar">
  <h1 class="navbar-logo">Blackboard</h1>
  <a href="/">Home</a>
  <a class="active" href="/compliments">Compliments</a>
  <a href="/vent">Vent</a>
  <a href="/advice">Tweets of advice</a>
</nav>

<div class="container">

  <h1 class="board-heading blackboard">Random Compliments!</h1>

  <div class="blackboard-grid">
    
    {{#each compliments}}
    <div class="comment-card">
      <h3>{{comment}}</h3>
      <p>{{author}}</p>
    </div>
    {{/each}}
   
  </div>
  
</div>

<div class="new-comment-card">

  <form action="/compliments" method="POST">
    <textarea name="comment" id="" cols="10" rows="5" placeholder="Write to the chalkboard!"></textarea>
    <!-- took out a author value from the input below -->
    <input type="text" name="author" placeholder="Author">
    <input type="submit">
  </form>

</div>

{{>footer}}