  <h1>Edit comment</h1>
  
  <form action="/{{thisBoard}}/edit/{{id}}" method="POST">
    <textarea name="comment" id="" cols="10" rows="5">{{thisComment.comment}}</textarea>
    <!-- took out a author value from the input below -->
    <input type="text" name="author" value="{{thisComment.author}}">
    <input type="submit">
  </form>