  <h1>Edit compliment</h1>
  
  <form action="#" method="POST">
    <textarea name="comment" id="" cols="10" rows="5">{{thisCompliment.comment}}</textarea>
    <!-- took out a author value from the input below -->
    <input type="text" name="author" value="{{thisCompliment.author}}">
    <input type="submit">
  </form>