<nav class="navbar">
  <h1 class="navbar-logo">Blackboard</h1>
  <a class="active" href="/">Home</a>
  <a href="/compliments">Compliments</a>
  <a href="/vent">Vent</a>
  <a href="/advice">Tweets of advice</a>
</nav>

<div class="container">

  <div class="call-to-action">
    <h2 class="main-subtitle">welcome to</h1>
    <h1 class="main-title">Chalkboard</h1>
    <p class="cta-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

</div>

{{>footer}}