<nav class="navbar">
  <h1 class="navbar-logo">Chalkboard</h1>
  <a class="active" href="/">Home</a>
  <a href="/compliments">Compliments</a>
  <a href="/vent">Vent</a>
  <a href="/advice">Tweets of advice</a>
</nav>

<div class="container">

  <div class="call-to-action">
    <h2 class="main-subtitle">welcome to</h1>
    <h1 class="main-title">Chalkboard</h1>

   
  </div>

</div>

{{>footer}}