<h1>index</h1>

<ul>
  <li><a href="/compliments">Random compliments</a></li>
  <li><a href="/advice">Tweets of advice</a></li>
  <li><a href="/vent">Vent!</a></li>
</ul>

<p>No offensive comments allowed!</p>