<nav class="navbar">
  <h1 class="navbar-logo">Blackboard</h1>
  <a href="/">Home</a>
  <a href="/compliments">Compliments</a>
  <a class="active" href="/vent">Vent</a>
  <a href="/advice">Tweets of advice</a>
</nav>

<div class="container">

  <h1 class="board-heading blackboard">A place to vent! (no swear words ;))</h1>

  <div class="blackboard-grid">
    
    {{#each vent}}
    <div class="comment-card">
      <h3>{{comment}}</h3>
      <p>{{author}}</p>
    </div>
    {{/each}}
   
  </div>
  
</div>
{{>newComment}}

{{>footer}}