/* require chalk font */
@font-face {
    font-family: "crayon-crumble";
    src: url("fonts/DkCrayonCrumble-ddll.ttf");
  }



/* global styles */
html {
    font-size: 16px;
    height: 100vh;
  }

body {
    background-color: #373a40;
    background-image: url("board.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fbf7f0;
    font-family: crayon-crumble;
    height: 100%;
    margin: 0;
    padding-bottom: 125px;
}
    
.navbar {
    overflow: hidden;
}

.navbar a {
    float: right;
    border-radius: 2px;
    color: #d6d8db;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    min-width: 70px;
}

.navbar a:hover {
    color: #eeeeee;
    background-color: #686d76;
}

.navbar a.active {
    color: #eeeeee;
    background-color: #686d76;
  }

.navbar-logo {
    float: left;
    color: #d6d8db;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    width: 50%;
}

.footer {
    color: #686d76;
    background-color: #373a40;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.container {
    padding-top: 150px;
    width: 100%;
}

/* index page styles */
.call-to-action {
    padding: 32px;
    text-align: center;
}

.main-subtitle {
    color: #19d3da;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin: 15px 0 0;
}

.main-title {
    color: #ffa5a5;
    font-size: 10rem;
    letter-spacing: 0.75rem;
    margin: 15px 0 0;
    padding: 15px 0 0;
    text-transform: uppercase;
}

.cta-text {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    margin: 0 auto;
    width: 33%;
}

/* blackboard styles */
.blackboard {
    text-align: center;
}

.blackboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 15px 25px;
}

.board-heading {
    color: #ffa5a5;
    font-size: 4rem;
}

.board-desc {
    text-align: center;
    font-size: 1.5rem;
}

.comment-card {
    border: 2px solid rgba(104, 109, 118, 0.15);
    border-radius: 5px;
    padding: 25px;
    margin: 5px 0;
    text-align: center;
}

.comment-card h3 {
    font-size: 2rem;
    font-weight: normal;
}

.comment-card p {
    color: #686d76;
    font-size: 1.25rem;
    margin: 0;
    padding: 0 15px 10px;
    text-align: right;
}

.comment-card a{
    color: #19d3da;
    text-decoration: none;
}

/* new comment card */
.new-comment-card {
    margin: 15px auto;
    text-align: center;
    width: 33%;
}

.new-comment-card input[type=text] {
    background: none;
    color: #eeeeee;
    font-family: crayon-crumble;
    font-size: 2rem;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.new-comment-card input[type=submit] {
    background-color: #373a40;
    color: #eeeeee;
    display: inline-block;
    margin: 5 auto;
    width: 50%;
}

.new-comment-card input[type=submit]:hover {
    background-color: #eeeeee;
    border-radius: 5px;
    color: #373a40;
    display: inline-block;
    padding: 5px;
    margin: 5 auto;
    width: 50%;
}

.new-comment-card textarea {
    background: none;
    color: #eeeeee;
    font-family: crayon-crumble;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    width: 100%;
}